* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

form {
  width: 100%;
  padding: 0.25em;
  
  color: black;
  display: flex;
  place-content: center;
}
form input {
  margin-right: 5px;
  width: 100%;
  display:block;
  padding: 15px;
  font-size: 1.3rem;
}
form button {
  color:red;
  height: 100%;
  padding: 20px;
}
form button:hover , form button:focus {
  background-color: red;  
} 
.item {
  height: 50px;
  margin: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}


.item input[type="checkbox"] {
  width: 50px;
  height: 50px;
}
.item input[type="checkbox"]:checked , .item input[type="checkbox"]:hover { 
  background-color: blue;
}

.item label {
  margin: 0 30px;
  font-size: 2rem;
}
.item svg {
  width: 45px;
  height: 45px;
}
.item svg:hover , .item svg:focus {
  color: red;
  outline:  none;
  cursor: pointer;
  
}


